* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* .......Shared style........ */
body {
  background-color: #f6f8ff;
}
.sec_width {
  width: 85%;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.sec_title {
  font-size: 3.12rem;
  font-weight: 700;
  margin: 10px 0;
  padding: 0%;
  color: black;
  font-family: "Noto Serif", serif;
}

.sec_para {
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.title_span {
  color: #e95a08;
}

.btn {
  padding: 19px 80px;
  color: white;
  background-color: #e95a08;
  font-weight: 600;
  border: none;
}

.text_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  /* filter: brightness(0.788); */
}
.icon {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px black;
}
/* ...................Header.................... */

/* .........navber......... */
.navbar {
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}
.nav_menu ul {
  gap: 45px;
}
.nav_menu ul li {
  list-style: none;
}
.nav_menu ul li a {
  text-decoration: none;
  font-size: 1.2rem;
}
.cart {
  padding-left: 2px;
}
.nav_home {
  font-weight: 700;
  color: #252432;
}
.nav_shop,
.nav_about {
  color: #8987a1;
}
.nav_cart {
  color: #111111;
}
/* .........header main......... */
.head_main {
  width: 85%;
  justify-content: space-between;
  align-items: end;
  margin: 120px auto;
  padding-top: 30px;
}
.head_main_cont {
  flex: 1;
  width: 50%;
}

.head_main_cont .sec_title {
  font-size: 4rem;
}
.head_main_cont .sec_para {
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-left: 0%;
}
.head_img {
  flex: 1;
  width: 50%;
}

.head_img img {
  width: 100%;
  height: auto;
}
/* ...............Main........................... */
/* ...........Our palnt section........ */
.sec_cont {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 37px;
  width: 85%;
}

/* .....card....... */

.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  /* width: 300px; */
  width: 100%;
  height: auto;
}
.card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.card_body {
  text-align: center;
}
.card_title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #111111;
  margin-bottom: 5px;
}

.card_cost {
  font-size: 1.3rem;
  font-weight: bold;
  color: #111111;
  margin-bottom: 10px;
}

.card_body .btn {
  width: 100%;
  /* width: 270px; */
  margin-top: 10px;
  margin-bottom: 30px;
}

/* .................Plant Lovers................ */

.plant_lover {
  position: relative;
}
.batch {
  position: absolute;
  left: 590px;
  top: -110px;
}
.batch img {
  width: 260px;
  height: 260px;
  z-index: 1;
}
.lovers {
  margin-top: 200px;
  margin-bottom: 100px;
}
.lover_img {
  width: 50%;
}
.lover_img img {
  width: 100%;
  flex: 1;
  height: auto;
}

.lover_cont {
  flex: 1;
  padding: 30px 0 10px 70px;
}
.lover_cont .sec_title {
  font-size: 3.25rem;
  letter-spacing: 1px;
}
.lover_cont ul {
  padding-left: 35px;
  line-height: 2rem;
}
.lover_cont li {
  margin-top: 23px;
  padding-left: 10px;
  font-size: 1.5;
}

.batch {
  animation: rotatebatch 50s linear infinite;
}

@keyframes rotatebatch {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* .........Latest Deals............... */

.sec_head_cont {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.deals_img_cont {
  margin-bottom: 40px;
  color: white;
  margin-top: 100px;
}

.deal_left {
  width: 45%;
  flex-direction: column;
  /* background-color: aqua; */
  flex: 1;
}

.deal_3 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.55)),
    url("./assets/deal-zabo.png");
  flex: 2;
  background-size: cover;
  margin-left: 25px;
}

.deal_1 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.55)),
    url("./assets/deal-bloom.png");
  background-size: cover;
  height: 205px;
  margin-bottom: 25px;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.deal_2 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.55)),
    url("./assets/deal-ana.png");
  background-size: cover;
  height: 210px;
  /* background-color: rgba(0, 0, 0, 0.92); */
  /* filter: grayscale(0.4) brightness(0.8); */
}
.deals_title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.deal_3 h3 {
  font-size: 2.5rem;
}
.deals_sub_title {
  font-weight: 600;
}
.deal_3 h4 {
  font-size: 1.75rem;
}
/* ..............join Us section.............. */
.join {
  width: 100%;
  background-image: url("./assets/news-letter-bg.png");
  height: 533px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  margin-bottom: 50px;
}

.join_box {
  /* background-color: #a908e9; */
  width: 100%;
  height: auto;
}
.join_box .sec_title {
  color: white;
  margin-bottom: 25px;
}
.join_input {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}

.email {
  width: 45%;
  padding: 20px 0 20px 15px;
}

/* .........Footer................. */
.footer {
  margin-bottom: 25px;
  justify-content: space-around;
  gap: 50px;
  /* background-color: aqua; */
}
.foot_cont {
  flex: 2;
}

.foot_cont img {
  margin-left: 15px;
}
.foot_name1 {
  flex: 1;
}

.foot_name1 ul li,
.foot_name2 ul li {
  list-style: none;
  margin-bottom: 30px;
  color: #8987a1;
  font-size: 1rem;
}

.foot_name2 {
  flex: 1;
}
.foot_logo {
  flex: 2;
  display: flex;
  margin-left: 60px;
  margin-top: 15px;

  /* background-color: #e95a08; */
}
.foot_logo img {
  width: 37px;
  height: 37px;
  margin-right: 40px;
}

/* ..>>>>>>>>>>Media Quary<<<<<<<<<<<<<<<<< */
@media screen and (max-width: 576px) {
  .sec_width {
    width: 95%;
  }

  .sec_title {
    font-size: 1.5rem;
  }

  .sec_para {
    font-size: 0.88rem;
  }

  .navbar {
    width: 92%;
  }
  .nav_logo img {
    height: 38px;
  }
  .nav_menu .nav_home,
  .nav_about,
  .nav_shop {
    display: none;
  }

  .nav_cart {
    margin-right: 30px;
    font-size: 1.3rem;
  }

  /* ..........head main........... */
  .head_main {
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 50px;
  }

  .head_main_cont .sec_title {
    font-size: 1.5rem;
  }

  .head_main_cont {
    width: 95%;
  }
  .head_main_cont .sec_title {
    margin-top: 25px;
  }

  .head_main_cont .sec_para {
    padding-right: 10px;
    font-size: 0.87rem;
  }

  .head_img {
    width: 100%;
  }
  .head_img img {
    width: 100%;
  }
  /* .......Our palnt section...... */
  /* .our_plant .sec_width {
    width: 97%;
    margin: 0 auto;
    background-color: aqua;
  } */

  .our_plant .sec_title {
    font-size: 1.5rem;
    /* background-color: aqua; */
  }

  .our_plant .sec_para {
    font-size: 0.87rem;
  }

  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: rgb(50, 28, 160); */
    height: fit-content;
  }
  .card {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
  }

  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 7px;
    padding: 0;
  }
  .card_title,
  .card_cost {
    font-size: 1rem;
    margin: 5px;
  }
  .card .btn {
    width: 100%;
    font-size: 0.6rem;
    padding: 17px 0;
    margin: 7px 0 20px 0;
  }

  .card:nth-last-child(-n + 2) {
    display: none;
    margin: 0%;
    padding: 0%;
  }

  /* ........Plant Lovers....... */
  .batch {
    display: none;
  }

  .lovers {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .lover_img {
    width: 100%;
  }
  .lover_cont {
    padding: 0;
  }

  .sec_cont {
    padding-bottom: 20px;
    width: 90%;
  }

  .lover_cont .sec_title {
    font-size: 1.5rem;
    letter-spacing: normal;
  }
  .lover_cont .sec_para {
    line-height: normal;
    text-align: justify;
    margin-left: 0px;
  }

  /* ........Latest Deals...... */
  .sec_head_cont {
    width: 100%;
    margin-bottom: 20px;
  }

  .deals_img_cont {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .deal_left {
    width: 100%;
    margin-top: 25px;
  }
  .deals_img_cont .deal_3 {
    margin-left: 0;
    height: max-content;
    padding: 80px 0;
  }
  .deal_3 h3 {
    font-size: 1.25rem;
  }
  .deal_3 h4 {
    font-size: 1rem;
  }
  .deal_1 {
    margin-bottom: 15px;
  }

  /* ...........Join us Section......... */
  .join {
    background-size: cover;
    background-repeat: no-repeat;
    height: 275px;
    margin-top: 40px;
  }
  .email {
    width: 218px;
    padding: 20px 0 20px 15px;
  }

  .join_box .btn {
    padding: 19px 12px;
  }
  .join_box .sec_title {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 25px;
  }
  .footer {
    flex-direction: column;
    gap: 0;
    margin: 0;
  }
  .foot_name1,
  .foot_name2 {
    margin-bottom: 0;
  }
  .foot_logo {
    align-items: flex-start;
    margin: 20px;
    margin-bottom: 50px;
  }
  .foot_logo img {
    width: 33px;
    height: 33px;
  }
}
